*.sql		text eol=lf
*.sh		text eol=lf
*.jar		binary
*.jks 		binary
*.properties		text eol=lf
*.xml		text eol=lf
*.list		text eol=lf
Dockerfile 	text eol=lf
text=auto eol=lf
.{cmd,[cC][mM][dD]} text eol=crlf
.{bat,[bB][aA][tT]} text eol=crlf
.gz binary
.tar binary
*.json      text eol=lf